@charset "UTF-8";
/*
  em HTML e id  = em CSS e # ( so pode um elemento )
  em HTML e class = em CSS e . ( pode varios elementos )
*/
body {
    background-color: #ad6623a0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#3d2f21;
}

h1#principal {
    background-color: #8B521C;
    text-align: center;
    color: white;
}

h2 {
    color: #624428;
}

.basico{
    color: aquamarine;
}

.intermediario{
    color: black;
}

.avancado{
    color: antiquewhite ;
}